asgiref
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-environ
filelock
MouseInfo
pillow
platformdirs
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
sqlparse
tzdata
virtualenv
virtualenvwrapper-win